<!-- navigation component -->
<mat-drawer-container class="container" hasBackdrop="false">

  <!-- the side panel container -->
  <mat-drawer #drawer class="drawer" mode="side">
    <!-- this component selector is used to display the category menu -->
    <app-category-menu></app-category-menu>
  </mat-drawer>

  <!-- the main part of the page -->
  <mat-drawer-content>
    <mat-toolbar class="position-fixed">
      <mat-toolbar-row>

        <button (click)="drawer.toggle()" mat-button type="button">
          <mat-icon>menu</mat-icon>
        </button>

        <button (click)="refreshPage()" mat-button type="button">
          <mat-icon>home</mat-icon>
        </button>

        <!-- TODO: login or sign up, or logout if a user is already signed in. -->
        <button [matMenuTriggerFor]="userMenu" mat-button>
          <mat-icon>person</mat-icon>
        </button>
        <mat-menu #userMenu="matMenu">
          <div class="menu-button">
            <button routerLink="/login" mat-flat-button color="primary">Sign in</button>
          </div>
          <div class="menu-button">
            <button routerLink="/signup" mat-flat-button color="accent">Sign up</button>
          </div>
        </mat-menu>

        <button (click)="logoutUser()" mat-button routerLink="/login">
          Logout
        </button>

        <!-- this component selector is used to display the status of the cart on the button-->
        <app-cart-status routerLink="/cart-details"></app-cart-status>

        <!-- this component selector is used to display the search bar -->
        <app-search></app-search>

      </mat-toolbar-row>
    </mat-toolbar>

    <br/><br/><br/><br/>

    <div>
      <!-- where a routerLink's corresponding component html will display -->
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>

</mat-drawer-container>
