<!--&lt;!&ndash; card-status component &ndash;&gt;-->

<!--&lt;!&ndash; is the cart empty? &ndash;&gt;-->
<!--<div *ngIf="totalQuantity > 0">-->
<!--  &lt;!&ndash; no, it's not; display the shopping cart icon with a badge noting the total quantity &ndash;&gt;-->
<!--  <button mat-button>-->
<!--    <mat-icon [matBadge]="totalQuantity" matBadgeColor="accent" matBadgeSize="small">shopping_cart-->
<!--    </mat-icon>-->
<!--  </button>-->
<!--</div>-->

<!--<div *ngIf="totalQuantity == 0">-->
<!--  &lt;!&ndash; yes, the cart is empty; display an empty shopping cart icon &ndash;&gt;-->
<!--  <button mat-button>-->
<!--    <mat-icon>shopping_cart</mat-icon>-->
<!--  </button>-->
<!--</div>-->
