.grid-container {
  margin: 20px;
  background-color: aqua;
}

.grid-tile{
  background-color: cadetblue;
}

.more-button {
  position: absolute;
  bottom: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}
