<!-- card-status component -->

<!-- is the cart empty? -->
<div *ngIf="totalQuantity > 0">
  <!-- no, it's not; display the shopping cart icon with a badge noting the total quantity -->
  <button mat-button>
    <mat-icon [matBadge]="totalQuantity"
              class="material-icons-outlined color_black"
              matBadgeColor="accent" matBadgeSize="small">shopping_cart
    </mat-icon>
  </button>
</div>

<div *ngIf="totalQuantity == 0">
  <!-- yes, the cart is empty; display an empty shopping cart icon -->
  <button mat-button>
    <mat-icon>shopping_cart</mat-icon>
  </button>
</div>
